<h1>Create a Team and Heroes!</h1>

<form method="post" action="/teams">
  Team Name: <input type="text" name="team[name]">
  <br>
  Team Motto: <input type="text" name="team[motto]">
  <br>
  <h1>Hero 1</h1>
  
  Hero's Name: <input id="member1_name" type="text" name="team[members][][name]">
  Hero's Power: <input id="member1_power" type="text" name="team[members][][power]">
  Hero's Biography: <input id="member1_bio" type="text" name="team[members][][bio]">
  
  <input id="Submit" name="submit" type="submit">
</form>
